html { min-height: 100%; }
body {
    /*background-image: linear-gradient(to bottom, #FC9B55, #FF9E59 42%, #ED9B5C 82%, #D18149);
    background-image: -moz-linear-gradient(top , #FC9B55, #FF9E59 42%, #ED9B5C 82%, #D18149);
	background-image: -webkit-linear-gradient(top , #FC9B55, #FF9E59 42%, #ED9B5C 82%, #D18149);
    background-attachment: fixed;*/
    background-color: #EEEEEE;
	font-family: 'Open Sans', sans-serif; font-size: 15px;
    margin: 50px auto; padding: 0px 30px;
	max-width: 900px; line-height: 1.50; }
p { line-height: 1.5 }
a { color: inherit }
h1 { color: black; font-weight: 400; margin: 1.5em 0; font-size: 32px; text-shadow: -1px 1px 3px #654; letter-spacing: -0.5px }
h2 { font-weight: 600; font-size: 21px; color: black; }
kbd { padding: 0px 4px; background-color: rgba(255,210,176,0.5);
    background-color: rgba(228,186,155,0.5); background-color: rgba(255,255,255,0.11); color: #8E3B00; /*#FFD2B0*/ /*#E4BA9B */
    white-space: nowrap; font-family: inherit; font-weight: normal; font-style: normal; font-size: 85%;
    border: 1px solid #9B5622; border-bottom-width: 2px; border-radius: 3px;
}
span.button-name { font-size: 13px; text-transform: uppercase; letter-spacing: 0.5px; background-color: #BB6E34; color: #F5DBC6; padding: 1px 4px; border-radius: 3px; }

span.toggle-off { display: inline-block; margin: 0 0px 9px 1px; background-color: #FFFFFF; color: #101010;
    text-transform: uppercase; font-size: 14px; letter-spacing: 1px;
	-moz-user-select: none; -webkit-user-select: none; user-select: none;
	border-radius: 2px; padding: 0.05em 0.3em; width: 0.75em; text-align: center; cursor: pointer;
    border-color: #000000 #000000; border-style: solid; border-width:1px;    
    /*box-shadow: -1px 2px 1px 1px rgba(0,0,0,0.4);*/
}

span.toggle-on { display: inline-block; margin: 0 0px 9px 1px; background-color: #FF802B; color: #FFFFFF;
    text-transform: uppercase; font-size: 14px; letter-spacing: 1px;
	-moz-user-select: none; -webkit-user-select: none; user-select: none;
	border-radius: 2px; padding: 0.05em 0.3em; width: 0.75em; text-align: center; cursor: pointer;
    border-color: #FFFFFF #FFFFFF; border-style: solid; border-width:1px;    
    /*box-shadow: -1px 2px 1px 1px rgba(0,0,0,0.4);*/
}

input[type="number"] {
    width:80px;
}

#slider, #slider .ui-slider-range { background: #FE9749;
    background-image: linear-gradient(to bottom, #ffd2b0, #ffd2b0 42%, #e4ba9b 82%, #e4ba9b);
	background-image: -webkit-linear-gradient(top, #ffd2b0, #ffd2b0 42%, #e4ba9b 82%, #e4ba9b);
}
#slider { border: solid 1px #EFD7C5; height: 22px; box-shadow: -1px 1px 2px #815c41; }
#slider .ui-slider-handle { top: -5px; width: 22px; height: 32px; margin-left: -12px; border-radius: 4px;
    background-image: linear-gradient(to bottom, #fbfaf9, #fbfaf9 42%, #eee9e6 62%, #d5cdc6);
	background-image: -webkit-linear-gradient(top, #fbfaf9, #fbfaf9 42%, #eee9e6 62%, #d5cdc6);
	box-shadow: -1px 1px 2px rgba(0,0,0,0.3);
    outline: none; /* disable Chrome default outline on focused elements */
}
#slider .ui-slider-handle.ui-state-default { border: solid 1px #7c593f; }
#slider .ui-slider-handle.ui-state-focus { background: #fff; border: solid 1px #9b704f;
    box-shadow: -1px 1px 2px rgba(0,0,0,0.3), inset 0px 0px 2px 3px #fff;
}

#volume-slider {
    display: inline-block; border: solid 1px #EFD7C5;
    border-style: none none solid none; border-width: 1px; border-color: #db884a; border-color: #F6B584;
    border-style: none;
    border-style: solid; border-color: #db884a;
    border-color: #a55f2b;
    width: 60px; height: 8px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7) inset, 0px 1px 0px rgba(255, 255, 255, 0.3);
}
#volume-slider {
    background: #ce8856;
}
#volume-slider .ui-slider-range {
    background-image: -webkit-linear-gradient(top, #D5884D 0%, #D7894C 42%, #C9793F 82%, #BD7440 100%);    
    background-image: linear-gradient(to bottom, #D5884D 0%, #D7894C 42%, #C9793F 82%, #BD7440 100%);
}
#volume-slider .ui-slider-handle {
    width: 10px; height: 12px; top: -3px;
    border: solid 1px #965C33;
    background-image: -webkit-linear-gradient(top, rgba(254, 190, 143, 1) 0%, rgba(231, 162, 110, 1) 42%, #E09259 82%, #E19965 100%);
    background-image: linear-gradient(to bottom, rgba(254, 190, 143, 1) 0%, rgba(231, 162, 110, 1) 42%, #E09259 82%, #E19965 100%);
    box-shadow: -1px 1px 1px rgba(0,0,0,0.1);    
}
#volume-slider .ui-slider-handle.ui-state-focus {
    box-shadow: -1px 1px 2px rgba(255,255,255,0.1), inset -2px -2px 6px rgba(255,255,255,0.3), inset 2px 2px 6px  rgba(255,255,255,0.3);
}
label#volume-slider-label { display: inline-block; width: 23px; height: 9px; }

#volume-readout { display: inline-block; width: 2.5em; margin-left: 3px; font-weight: 400; font-size: 12px; }
label#volume-slider-label { vertical-align: baseline; margin-right: 3px; }

#controls { position: relative; margin: 0 auto; padding: 15px 0px;; width: 100%; max-width: 625px; font-size: 14px; font-weight: 600;
    -moz-user-select: none; -webkit-user-select: none; user-select: none;
}
#controls span.separator { display: inline-block; margin-right: 55px; }
#freq-readout { display: inline-block; text-align: center; width: 130px; font-size: 23px;
    -moz-user-select: -moz-all; -webkit-user-select: auto; user-select: all;
}
#freq-readout small { font-size: 75%; font-weight: normal }
/*.freq-button { font-size: 28px; font-family: "Open Sans"; color: #b4672d; text-shadow: -1px 2px 1px rgba(0,0,0,0.4);
    cursor: pointer; outline: none; }
.freq-button:hover { color: #C97438; }
*/
 
.freq-button { display: inline-block; width: 24px; height: 32px;
	vertical-align: -30%; cursor: pointer; outline: none; }
#freq-down-button { background-position: 0px 0px; }
#freq-up-button { background-position: -26px 0px; }
#freq-down-button:hover { background-position: -48px 0px; }
#freq-up-button:hover { background-position: -74px 0px; }	

.octave-button { display: inline-block; font-size: 12px; color: #F3D6BF; dtext-shadow: -1px 1px 1px rgba(0,0,0,0.4);
    cursor: pointer; outline: none; background: #b4672d; height: 17px; line-height: 17px; width: 20px; text-align: center;
    vertical-align: 11%; vertical-align: bottom; margin-bottom: 6px;
    border-radius: 3px; box-shadow: -1px 1px 1px 0px rgba(0,0,0,0.4); }
.octave-button:hover { background: #C97438; }	

label#note-selector-label { display: inline-block; margin-right: 4px; width: 9px; height: 18px;}

.ui-state-default .ui-icon { }
.ui-widget { font-family: inherit; font-size: 12px; color: #F5DBC6 }
.ui-selectmenu-button { box-shadow: -1px 2px 1px 1px rgba(0,0,0,0.4); border-radius: 2px; vertical-align: bottom; margin-bottom: 6px; }
.ui-selectmenu-button span.ui-selectmenu-text { padding: 0.2em 2.1em 0.2em 0.5em; }
.ui-state-default, .ui-menu-item { background: #BB6E34; border: #BB6E34; }
.ui-menu .ui-menu-item { border: none; padding: 1px 1px 1px 0.5em; }
.ui-menu-item.ui-state-focus { background: #d58244; border: none; color: white; }
.ui-selectmenu-menu .ui-menu { border: none; padding-bottom: 0px; width: 190px; height: 400px; box-shadow: -1px 2px 1px 1px rgba(0,0,0,0.4);}
.ui-menu { border-radius: 0px 0px 2px 2px; background: #BB6E34; }
.ui-menu-item.ui-state-focus, .ui-menu-item.ui-state-active { margin: 0px; }

#author { margin: 60px 0px 30px 0px; font-size: 13px; color: #f4f2f2; text-shadow: -1px 1px 3px #654; }
 
div#browser-warning { position: fixed; box-sizing: border-box; border-radius: 5px; top: 30%; left: 20%; width: 60%; padding: 2em;
background-color: #999; opacity: 0.9; z-index: 1000; font-size: 18px; color: white; }
